<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8" />
  <title>Fancy 3D Login Box</title>
  
  
  
      <link rel="stylesheet" href="css/style.css" />

  
</head>

<body>
  <div id="login">
            <div class="left"></div>
            <div class="right"></div>
            <div class="bottom"></div>
            <div class="top"></div>
            <div class="back"><h1>Welcome</h1></div>
            <form id="loginForm">
                <input type="text" class="username" placeholder="your username" />
                <input type="password" class="password" placeholder="your password" />
                <button class="submit"><a href="#login" onclick="rotate=false">Login</a></button>
            </form>
        </div>
  
    <script src="js/index.js"></script>

</body>
</html>
